.navbar {
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgb(237, 242, 243);
}

.navbar ul li {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 2px solid #fff;
}

.navbar ul li:hover {
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
}

header {
  height:8vh;
  display: flex;
  align-items: center;
  justify-content: space-around; 
  background-color: #ff6700;
}

header article {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-icon {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.header-icon:hover {
  transform: scale(1.1);
}

#head-email__text {
  color:#fff;
}

.animate__logo {
  animation: logo 10s infinite linear;
}

@keyframes logo{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}